body {font-family: sans-serif;}
header {
  color: white;
  background-color: grey;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

nav {
  border-style: solid;
  padding: 15px;
  padding-bottom: 15px;
  margin-top: 15px
}

section {
  border-style: solid;
  padding: 15px;
  margin-top: 15px
}

article {
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}

footer {
  color: white;
  background-color: grey;
  padding: 15px;
  margin-top: 15px;
}
